@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 id="Welcome_to_All_Genre_Music_Store" class="display-4" onmouseover="newColor()" onmouseout="oldColor()">Welcome to All Genre Music Store</h2>
    <p>Watch the all-time hit song here.</p>
</div>

<!--VIDEO-->
<section>
    <div id="video">
        <h1>Hit Music Videos From 80s</h1>
        <p>Here is an exciting video - The Power of Love (Back to the Future)!!Please enjoy and share</p>
        <div class="video-container">
                    <iframe width="640" height="480"
                    src="https://www.youtube.com/embed/-NMph943tsw" title="The Power of Love (Back to the Future) [Huey Lewis and the News]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</section>

<!--END OF VIDEO-->
